@media only screen and (max-width: 700px) {
    nav ul {
        width: 100%;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        background: linear-gradient(#ff469f, #ff6062);
    }
    nav ul li { 
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
    }

    nav ul li a {
        color: white;
    }

    .menu-icon {
        width: 25px;
        cursor: pointer;
        display: block;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 100px 0;
        flex-direction: column-reverse;
    }

    #menuList {
        /* overflow: hidden; */
        transition: 0.5s;
    }

    .col-2 {
        /* flex-basis: 100%; */
        margin-bottom: 50px;
    }

    .col-2.controller {
        width: 77%;
    }

    .color-box {
        transform: translateX(75px);
    }

    .col-1 {
        flex-basis: 100%;
    }

    .col-1 h2 {
        font-size: 35px;
    }

    .col-1 h3 {
        font-size: 15px;
    }
}